@mixin standardButton($height: 30px, $width: auto) {
    background: transparent;
    border-radius: 9999px;
    outline: none;
    border: none;
    color: var(--color-high-emphasis);
    font-weight: 700;
    padding: 0 15px;
    font-size: 15px;
    height: $height;
    width: $width;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 100ms linear;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
        background: var(--blue-color-faded);
    }
}

@mixin primaryButton {
    background: var(--button-color);

    &:hover,
    &:focus,
    &:active {
        background: var(--button-color-hover);
    }
}
