@import '../mixins';

.input {
    font-size: 15px;
    background: var(--input-background);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    margin-bottom: 10px;
    padding: 0 0 0 12px;
    position: relative;
    transition: margin-bottom 150ms linear;

    input {
        background: transparent;
        border: none;
        outline: none;
        flex: 1;
        color: var(--color-high-emphasis);
        &::placeholder {
            color: var(--color-medium-emphasis);
        }
        height: 100%;
        font-size: 15px;
        font-weight: 700;
    }

    &WithSpan {
        padding: 0;
    }

    &GoSpan {
        margin: 0 0 0 12px;
        font-weight: 700;
    }

    &ErrorMessageVisible {
        margin-bottom: 1.5em;
    }
}

.errorMessage {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    font-weight: normal;
    color: crimson;
    opacity: 0;
    transition: opacity 150ms linear;
    margin-left: 12px;
}

.errorMessageVisible {
    opacity: 1;
}

.cancelButton,
.submitButton {
    @include standardButton;
    flex: 1;
}

.submitButton {
    @include primaryButton;
}

.saved {
    background: forestgreen;
}
