.list {
    list-style: none;
    margin: -10px 8px -10px 0;
    padding: 0;
    overflow-y: auto;
    height: 450px;

    &::-webkit-scrollbar {
        width: 15px;
        height: 10px;
        background: transparent;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--blue-color);
        border-radius: 10px;
        border-color: transparent;
        border-style: solid;
        border-width: 3px;
        background-clip: padding-box;
        min-height: 75px;
    }
}
.listItem {
    margin: 10px 0;
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
}
.shortName {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4;
    color: var(--color-high-emphasis);
}
.fullLink {
    color: var(--color-medium-emphasis);
}
.listItemDeleteButton {
    color: var(--blue-color);
    background: transparent;
    border: none;
    outline: none;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 100ms linear;
    padding: 7px;
    &:hover {
        background: var(--blue-color-more-faded);
    }
    &:active {
        background: var(--blue-color-faded);
    }
}
